html,
body,
#app {
    height: 100%;
    padding: 0;
    margin: 0;
    min-width: 1366px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.el-row {
    margin-bottom: 10px;
}

.el-card {

    margin-top: 20px;
    font-size: 14px;
}


.el-pagination {
    margin-top: 10px;
}